<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Авторизация</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
    <script>
        function clearErrorMessages() {
            document.getElementById('errorText').textContent = "";
        }
    </script>
</head>
<body>

<main>
    <h2>Вход в систему</h2>
    <form method="POST" action="login" class="gridCenteredForm">

        <div>
            Логин
            <br>
            <input name="login" type="text"
                   autofocus="true" oninput="clearErrorMessages()" maxlength="15"/>
        </div>
        <div>
            Пароль<br>
            <input name="password" type="password" oninput="clearErrorMessages()" maxlength="15"/>
        </div>
        <label id="errorText" class="error" th:text="${errorText}" ></label>
        <button class="buttonRow" type="submit">Войти</button>

    </form>
</main>

</body>
</html>
