<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Авторизация</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
    <script>
        function clearErrorMessages() {
            document.getElementById('errorText').textContent = "";
        }
    </script>
</head>
<body>

<main>

    <form method="POST" action="login" id="singleForm">
        <h2>Вход в систему</h2>
        Логин
        <br>
        <input name="login" type="text"
               autofocus="true" oninput="clearErrorMessages()"/>
        <p>
        Пароль<br>
        <input name="password" type="password" oninput="clearErrorMessages()"/></p>
        <p id="errorText" class="error" th:text="${errorText}" ></p>
        <button type="submit">Войти</button>
    </form>
</main>

</body>
</html>
