<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Авторизация</title>
    <style>
       p {
           color:red;
       }
    </style>
    <script>
        function clearErrorMessages() {
            document.getElementById('errorLogin').textContent = "";
            document.getElementById('errorAlreadyAuthorized').textContent = "";
        }
    </script>
</head>

<body>

<div>
    <h2>Вход в систему</h2>
    <form method="POST" action="login">

        <input name="username" type="text" placeholder="Логин"
               autofocus="true" oninput="clearErrorMessages()"/>
        <br>
        <input name="password" type="password" placeholder="Пароль" oninput="clearErrorMessages()"/>
        <br>
        <p id="errorLogin" th:text="${errorText}"></p>
        <button type="submit">Войти</button>
    </form>
</div>

</body>
</html>
