<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Страница редактирования тарифа</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
    <script>
        function setCompanyName() {
            let select = document.getElementById("company.id");
            let nameInput = document.getElementById("company.name");
            nameInput.value = select.selectedOptions[0].text;
        }

        function disableCountGBInput(checkedValue) {
            let countGBInput = document.getElementById("countGBInternetTraffic");

            if (checkedValue) {
                countGBInput.value = 0;
            }
            countGBInput.disabled = checkedValue;
        }

    </script>
    <style>
        textarea {
            width: 450px;
            min-height: 30px;
            max-height: 80px;
            resize: vertical;
        }

        .internetPackage {
            justify-self: baseline;
            margin: 10px 0 0 0;
        }

    </style>
</head>
<body onload=" disableCountGBInput(document.getElementById('unlimitedTraffic1').checked);">
<div th:replace="headers/headerLogoutAndMenu :: header">
</div>
<main>
    <h3>Страница редактирования тарифа</h3>
    <div  class="gridCenteredForm leftSideLabelsForm">
        <form onsubmit="setCompanyName()" th:action="@{/editor/saveTariff}" th:object="${tariff}" method="post" class="gridCenteredForm">
            <input type="hidden" th:field="*{id}"/>
            <div class="doubleFieldFormRow">
                <label>Название</label>
                <label>Компания</label>
                <input type="text" th:field="*{name}" maxlength="50"/>
                <input type="hidden" th:field="*{company.name}"/>
                <select th:field="*{company.id}">
                    <option th:each="elem : ${companies}" th:text="${elem.name}"
                            th:value="${elem.id}" th:selected="${elem.name == tariff.company.name}">
                </select>
                <div>
                    <div th:errors="*{name}" class="error"></div>
                    <div class="error" th:text="${errorUniqueNameText}"></div>
                </div>
            </div>

            <div class="doubleFieldFormRow">
                <label>Количество минут, включенных в пакет услуг</label>
                <label>Количество сообщений, включенных в пакет услуг</label>
                <input type="text" th:field="*{countFreeMinutes}" maxlength="10" oninput="this.value = this.value.replace(/[^0-9]/g,'');"/>
                <input type="text" th:field="*{countFreeMessages}" maxlength="10" oninput="this.value = this.value.replace(/[^0-9]/g,'');"/>
                <div th:errors="*{countFreeMinutes}" class="error"></div>
                <b th:if="${!#fields.hasErrors('countFreeMinutes') && #fields.hasErrors('countFreeMessages')}" ></b>
                <div th:errors="*{countFreeMessages}" class="error"></div>
            </div>

            <div class="internetPackage">
                <label>
                    <input type="checkbox" th:field="*{unlimitedTraffic}" onclick="disableCountGBInput(this.checked)">
                     Безлимитный интернет
                </label><br>
                <label>Количество Гб интернет-трафика</label><br>
                <input type="number" th:field="*{countGBInternetTraffic}" maxlength="10"/>
                 <div th:errors="*{countGBInternetTraffic}" class="error"></div>
            </div>

            <div class="doubleFieldFormRow">
                <label>Цена за минуту разговора (руб.)</label>
                <label>Цена за смс (руб.)</label>
                <input type="number" step="0.001" th:field="*{costPerMinute}" maxlength="10"/>
                <input type="number" step="0.001" th:field="*{costPerMessage}" maxlength="10"/>
                <div th:errors="*{costPerMinute}" class="error"></div>
                <b th:if="${!#fields.hasErrors('costPerMinute') && #fields.hasErrors('costPerMessage')}" ></b>
                <div th:errors="*{costPerMessage}" class="error"></div>
            </div>

            <label>Абонентская плата:
                <input type="number" step="0.001" th:field="*{amount}" maxlength="10"/>
            </label>
            <label>Ссылка:
                <input type="text" th:field="*{url}" size="35"/>
            </label>
            <label style="color: rgb(128,128,128)">Тариф создан
            <th:block th:text="${tariff.addedNotByUser} ? 'автоматически' : 'пользователем'"></th:block></label>
            <input type="hidden" th:field="*{addedNotByUser}"/>

            <div th:errors="*{amount}" class="error"></div>
            <label>Дополнительная информация</label>
            <textarea th:field="*{info}" maxlength="255"></textarea>
            <div th:errors="*{info}" class="error"></div>

            <div class="buttonRow">
                <button type="submit">Сохранить</button>
                <button type="submit" form="cancelForm" >Отмена</button>
            </div>
        </form>
        <form th:action="@{/editor/tariffs}" id="cancelForm" method="post">
        </form>
    </div>

</main>
</body>
</html>
