<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{headers/headerLogout :: header}">
</div>
<main>
    <h3>Редактирование пользователя</h3>

    <form th:action="@{/admin/editUser}" th:object="${user}" method="post" class="gridCenteredForm">
        <input type="hidden" th:field="*{id}"/>
        <div>
            Логин
            <br>
            <input type="text" th:field="*{login}" maxlength="15"/>
        </div>
        <div th:errors="*{login}" class="error"></div>
        <div class="error" th:text="${errorUniqueLoginText}"></div>
        <div>
            Пароль<br>
            <input type="text" th:field="*{password}" maxlength="15"/>
        </div>
        <div th:errors="*{password}" class="error"></div>
        <div>
            <label>ФИО</label>
            <br>
            <textarea th:field="*{name}" maxlength="70" class="fullnameTextarea"></textarea>
        </div>
        <div th:errors="*{name}" class="error"></div>
        <input type="hidden" th:field="*{role.id}"/>
        <div>
            Роль<br>
            <input type="text" th:field="*{role.name}" readonly/>
        </div>

        <div class="buttonRow">
            <button type="submit">Сохранить</button>
            <button type="submit" form="cancelForm">Отмена</button>
        </div>

    </form>
    <form th:action="@{/admin/users}" id="cancelForm" method="get">
    </form>
</main>
</body>
</html>
