<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{headers/headerLogout :: header}">
</div>
<main>
    <h3>Список пользователей</h3>
    <form th:action="@{/admin/showAddUserPage}" method="post" class="gridCenteredForm">
        <button type="submit">Добавить пользователя</button>
    </form>
    <table class="orangeGreyTable">
        <thead>
            <tr>
                <th>№</th>
                <th>Логин</th>
                <th>Пароль</th>
                <th>ФИО</th>
                <th>Роль</th>
                <th>Статус авторизации</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        <tr th:each="elem, state : ${users}">
            <td th:text="${state.count}"></td>
            <td th:text="${elem.login}"></td>
            <td th:text="${elem.password}"></td>
            <td th:text="${elem.name}"></td>
            <td th:text="${elem.role.name}"></td>
            <td th:text="${elem.isAuthorized} ? 'Авторизован' : 'Не авторизован'"></td>
            <td>
                <form th:action="@{/admin/showEditUserPage}" method="post">
                    <input type="hidden" name="userId" th:value="${elem.id}"/>
                    <input type="submit" th:if="${!elem.isAuthorized}" value="Редактировать">
                </form>
            </td>
            <td>
                <form th:action="@{/admin/deleteUser}" method="post">
                    <input type="hidden" name="userId" th:value="${elem.id}"/>
                    <input type="submit" th:if="${!elem.isAuthorized}" value="Удалить" />
                </form>
            </td>
        </tr>
        </tbody>

    </table>
</main>
</body>
</html>
